<div class="login-box animated fadeInUp">
    <div class="box-header">
        <h2>Logi sisse</h2>
    </div>
    <div class='error'></div>

    <form id="loginForm">
        <label for="username">Kasutajanimi</label>
        <br/>
        <input type="text" name="username" id="username">
        <br/>
        <label for="password">Parool</label>
        <br/>
        <input type="password" name="password" id="password">
        <br/>
    </form>
        <button id="loginBtn">Logi sisse</button>
    <br/>
    <a href="/~mkonsa/Ostukorv/index.php?page=register"><p class="small">Registreeri kasutajaks</p></a>

    <script>
        $('button[id="loginBtn"]').click(function(){
                $(".error").empty();

                var data = $('form[id="loginForm"]').serialize();
                $.post("scripts/login.php",
                data,
                function(data,status){
                var response = JSON.parse(data);

                if (response['error'] != undefined) {
                    $('div[class="error"]').append(response['error']);
                }
                });
         });
    </script>
</div>