<div class="login-box animated fadeInUp">
    <div class="box-header">
        <h2>Logi sisse</h2>
    </div>
    <form id="loginForm" action="scripts/login.php" method="POST">
        <label for="username">Kasutajanimi</label>
        <br/>
        <input type="text" name="username" id="username">
        <br/>
        <label for="password">Parool</label>
        <br/>
        <input type="password" name="password" id="password">
        <br/>
        <button type="submit">Logi sisse</button>
    </form>
    <br/>
    <a href="/~mkonsa/Ostukorv/index.php?page=register"><p class="small">Registreeri kasutajaks</p></a>
</div>