<div class="login-box animated fadeInUp">
    <div class="box-header">
        <h2>Ostukorvi sisu</h2>
    </div>
    <table class="shoplist" align="center">
        <tr>
            <th>Nimetus</th>
            <th>Kogus</th>
            <th>Ostetud</th>
        </tr>
        <?php if (!empty($tooted)){

 		foreach($tooted as $toode){
 	?>

        <tr>
            <td><?php echo $toode['description']; ?></td>
            <td><?php echo $toode['count']; ?></td>
            <td><input id="<?php echo $toode['id']; ?>" type="checkbox" name="checked"/></td>
        </tr>
        <?php
    }
 }
 ?>
    </table>
    <input id="toggle" type="checkbox">
    <label for="toggle">Lisa uus</label>
    <div id="expand">
        <div class="error"></div>
        <form id="addItem">
            <td><input type="text" name="item" placeholder="Toote nimi"/></td>
            <td><input type="number" name="count" placeholder="Kui palju?"/></td>
            <br/>
        </form>
        <td>
            <button id="addNewBtn">Lisa</button>
        </td>

        <script>

            $('button[id="addNewBtn"]').click(function(){

                $(".error").empty();

                var data = $('form[id="addItem"]').serialize();
                $.post("scripts/addItem.php",
                data,
                function(data,status){

                    var response = JSON.parse(data);
                    if (status == 'success') {
                        if (response['error'] != undefined) {
                                    $('div[class="error"]').append(response['error']);
                        } else {
                            $("input[name=item], textarea").val("");
                            $("input[name=count], textarea").val("");
                            $('table[class="shoplist"]').append("<tr><td>"+response['description']+"</td><td>"+response['count']+"</td><td><input id="+response['id']+" type='checkbox' name='checked'/></td></tr><br/>");
                        }

                        $("input:checkbox[name=checked]").change(function(){

                         $(".error").empty();

                         var result = 0;
                         var itemId =$(this).attr('id');
                         if(this.checked) {
                            result = 1;
                         }
                                $.post("/~mkonsa/Ostukorv/scripts/updateItem.php",
                                {
                                  checked: result,
                                  id: itemId
                                },
                                function(data,status){
                                if (response['error'] != undefined) {
                                    $('div[class="error"]').append(response['error']);
                                }
                                });
                             });
                    }
                });

            });

             $("input:checkbox[name=checked]").change(function(){

             $(".error").empty();

             var result = 0;
             var itemId =$(this).attr('id');

             if(this.checked) {
                result = 1;
             }

                    $.post("/~mkonsa/Ostukorv/scripts/updateItem.php",
                    {
                      checked: result,
                      id: itemId
                    },
                    function(data,status){
                    var response = JSON.parse(data);
                     if (response['error'] != undefined) {
                        $('div[class="error"]').append(response['error']);
                     }
                   });
                 });
        </script>
    </div>
</div>