<div class="login-box animated fadeInUp">
    <div class="box-header">
        <h2>Ostukorvi sisu</h2>
    </div>
    <tr>
        <th>Nimetus</th>
        <th>Kogus</th>
        <th>Ostetud</th>
    </tr>
    <br/>
    <tr>
        <td>Piim</td>
        <td>5</td>
        <td><input type="checkbox"/></td>
    </tr>
    <br/>
    <tr>
        <td>Piim</td>
        <td>5</td>
        <td><input type="checkbox"/></td>
    </tr>
    <br/>
    <tr>
        <td>Piim</td>
        <td>5</td>
        <td><input type="checkbox"/></td>
    </tr>
    <br/>
    <tr>
        <td>Piim</td>
        <td>5</td>
        <td><input type="checkbox"/></td>
    </tr>
    <br/>
    <tr>
        <td>Piim</td>
        <td>5</td>
        <td><input type="checkbox"/></td>
    </tr>
    <br/>
    </table>

    <input id="toggle" type="checkbox">
    <label for="toggle">Lisa uus</label>
    <div id="expand">
        <form>
            <td><input type="text" name="item" placeholder="Toote nimi"/></td>
            <td><input type="number" name="count" placeholder="Kui palju?"/></td>
            <br/>
            <td>
                <button type="submit">Lisa</button>
            </td>
        </form>
    </div>
</div>