<div class="login-box animated fadeInUp">
    <div class="box-header">
        <h2>Registreeru kasutajaks</h2>
    </div>
    <form id="registerForm" action="scripts/register.php" method="POST">
        <label for="username">Kasutajanimi</label>
        <br/>
        <input type="text" name="username" id="username">
        <br/>
        <label for="password">Parool</label>
        <br/>
        <input type="password" name="password" id="password">
        <br/>
        <label for="password2">Parool uuesti</label>
        <br/>
        <input type="password" name="password2" id="password2">
        <br/>
        <button type="submit">Registreeru</button>
        <br/>
    </form>
    <a href="/~mkonsa/Ostukorv/index.php"><p class="small">Juba oled kasutaja?</p></a>
</div>